* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
:root {
  --background: #090b0c;
}
@keyframes come {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes come1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  background-color: var(--background);
  overflow-x: hidden;
  animation: come 2.5s;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
.navbar {
  background-color: #050014dc;
}
.demo {
  position: absolute;
  margin-left: 18%;
  width: 400px;
  height: 120px;
  margin-top: 80px;
}
.title {
  color: white;
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: 500;
  margin-left: 45px;
  font-family: "Josefin Slab", sans-serif;
}
.tabs {
  display: grid;
  color: white;
  margin: 0;
  margin-left: 50px;
  font-size: 20px;
  column-gap: 20px;
  grid-template-columns: 100px 200px 80px;
  user-select: none;
}
.tabs p {
  text-align: center;
  margin: 0;
  cursor: pointer;
  font-family: "Josefin Slab", sans-serif;
  transition: border-bottom 0.5s, color 1s;
}
.tabs p:hover {
  text-decoration: underline;
}
.tabs p:first-child {
  border-bottom: 4px solid cyan;
}
.tabs div {
  position: absolute;
  top: 20%;
  right: 5%;
}
.tabs button {
  background-color: transparent;
  padding: 5px 15px;
  color: cyan;
  outline: none;
  border: 1px solid cyan;
  font-family: "Josefin Slab", sans-serif;
  border-radius: 4px;
  font-size: 18px;
  transition: all 0.5s;
  margin-left: 10px;
}
.tabs #download-1 {
  right: 13%;
}
.tabs button:hover {
  background-color: cyan;
  color: black;
  border-color: black;
}

.table {
  display: grid;
  grid-template-columns: repeat(18, auto);
  justify-content: left;
  margin-left: 50px;
  column-gap: 3px;
  row-gap: 5px;
  margin-bottom: 20px;
}
.table .ele {
  width: calc(90vw / 18);
  height: calc(90vw / 18 + 10px);
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  padding: 2px 0;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
  /* overflow: auto; */
}
.table .ele::-webkit-scrollbar {
  width: 0;
}

.table .ele:hover {
  transform: scale(1.3);
  z-index: 10;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.7);
}

.table .blank {
  width: calc(90vw / 18);
  height: calc(90vw / 18+2px);
  background-color: transparent;
  border-radius: 2px;
  cursor: default;
}
.table .ele div {
  display: flex;
  justify-content: space-between;
  padding: 0 4px;
  position: absolute;
  width: 100%;
}
.table .ele div p:first-child {
  font-size: 14px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}
.table .ele div p:last-child {
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 0.8px;
  font-family: "Rajdhani", sans-serif;
  align-self: center;
}

.table .ele h1 {
  font-size: 25px;
  margin-top: 16px;
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 3px;
}
.table .ele h2 {
  /* font-size: 12px; */
  font-size: 55%;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 5px;
}
.table .ele h3 {
  font-size: 45%;
  /* font-size: 7.5px; */
  letter-spacing: 0.8px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
}

.table-bottom {
  display: grid;
  grid-template-columns: repeat(18, auto);
  justify-content: left;
  margin: 0 5vw;
  column-gap: 2px;
  row-gap: 2px;
  margin-bottom: 20px;
}
/* givinng colors */
.Halogen {
  border: 2px solid #67682c;
  background-image: linear-gradient(to right, #333300, #484800);
}
.Nonmetal {
  border: 2px solid #66672c;
  background-image: linear-gradient(to right, #333300, #484800);
}
.Alkali {
  background-image: linear-gradient(to right, #340000, #3e0000);
  border: 2px solid #5c2b2c;
}
.Alkaline {
  background-image: linear-gradient(to right, #0d0d35, #0f0f3d);
  border: 2px solid #37385e;
}
.Transition {
  background-image: linear-gradient(to right, #001c37, #002448);
  border: 2px solid #2a4969;
}
.Metalloid {
  border: 2px solid #4b582c;
  background-image: linear-gradient(to right, #1f2900, #283600);
}
.Noble {
  border: 2px solid #684f2c;
  background-image: linear-gradient(to right, #382100, #492c00);
}
.Post-transition {
  border: 2px solid #2a4969;
  background-image: linear-gradient(to right, #003700, #004700);
}
.Lanthanide {
  background-image: linear-gradient(to right, #004444, #005353);
  border: 2px solid #2a7172;
}
.Actinide {
  background-image: linear-gradient(to right, #114433, #155440);
  border: 2px solid #3b6f5f;
}
.table-properties {
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: repeat(4, auto);
}
@keyframes borderbottomgo {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes borderbottomcome {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes roller {
  0% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
.table-properties div {
  display: grid;
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 400;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 2px 5px;
  transition: border-bottom 1s;
  user-select: none;
}
.table-properties div nav {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.table-properties div nav p {
  font-family: "rajdhani", sans-serif;
  font-size: 16px;
  margin: 0;
}
/* .table-properties div:hover {
  border-bottom: 1px solid white;
  animation: borderbottomgo 1s linear;
} */
.table-properties div .opt-border {
  justify-self: center;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.1s;
}
.table-properties div:hover .opt-border {
  animation: borderbottomgo 0.2s linear;
  width: 100%;
  border-bottom: 1px solid white;
}

.table-properties div input {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.5s;
  cursor: pointer;
}

.infos {
  padding: 0 3%;
  margin: 0 auto;
  color: white;
  margin-top: 30px;
}
.infos h1 {
  font-size: 30px;
  font-family: "Gruppo", sans-serif;
  font-weight: 700;
  margin-top: 30px;
}
.infos ul {
  width: 92%;
  margin-left: 20px;
  margin-bottom: 25px;
}
.infos li {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 0.2px;
  font-family: "PT Mono", sans-serif;
  margin-bottom: 15px;
  line-height: 25px;
}

@media (max-width: 1280px) {
  .table .ele h3 {
    display: none;
  }
  .demo {
    width: 300px;
    height: 105px;
  }
}
@media (max-width: 1200px) {
  .table .ele div p:last-child {
    display: none;
  }
  .table {
    margin: 0 1%;
  }
}
@media (max-width: 1050px) {
  .table .ele h2 {
    display: none;
  }
  .demo {
    margin-top: 30px;
  }
}
@media (max-width: 940px) {
  .table .ele {
    padding: 0;
  }
  .table .ele h1 {
    z-index: 10;
  }
  .table .ele h2 {
    z-index: -1;
  }
}
@media (max-width: 850px) {
  .table .ele h1 {
    font-size: 20px;
  }
  .demo {
    display: none;
  }
}
@media (max-width: 600px) {
  .table .ele div p:first-child {
    display: none;
  }
  .table .ele h1 {
    margin: 40% 10%;
    text-align: center;
    font-size: 15px;
    display: flex;
  }
}
@media (max-width: 460px) {
  .table .ele {
    padding: 0;
    width: calc(90vw / 19);
    height: calc(90vw / 19);
  }
  .table .ele h1 {
    margin: 40% 0;
    font-size: 13px;
  }
}

/* edit here change here */
.page-table {
  display: block;
  animation: come 1.5s;
}
.page-games {
  display: none;
  animation: come 1.5s;
}
.page-list {
  display: none;
  animation: come 1.5s;
}
/* edit here change here */

.page-games .ask {
  width: 800px;
  margin: 0 auto;
}
.page-games .ask h1 {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  font-family: "Josefin Slab", sans-serif;
}
.page-games .ask nav {
  display: flex;
  column-gap: 60px;
  animation: come 1.5s;
}
.page-games .ask div {
  width: 20vw;
  height: 20vw;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  color: white;
  margin-bottom: 140px;
  transition: all 1s;
}
.page-games .ask div::-webkit-scrollbar {
  width: 0;
}
.page-games .ask div:hover {
  background-color: rgba(0, 0, 0, 0.9);
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
}
.page-games .ask div h1 {
  font-size: 30px;
  text-align: center;
  font-family: "rajdhani", sans-serif;
}
.page-games .ask div p {
  font-size: 16px;
  padding: 0 20px;
  font-family: "rajdhani", sans-serif;
}
.page-games .ask img {
  width: auto;
  height: 180px;
}

/* table finder here */
.table-finder {
  display: grid;
  grid-template-columns: repeat(18, auto);
  justify-content: left;
  margin-left: 50px;
  column-gap: 3px;
  row-gap: 5px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.table-finder div {
  width: calc(65vw / 18);
  height: calc(60vw / 18);
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-align: center;
  position: relative;
  padding: 2px 0;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
  transition: all 1s;
  margin-right: 10px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-finder div:hover {
  background-color: white;
  color: black;
}
.table-finder div:active {
  background-color: green;
  color: white;
}
.table-finder .blank {
  border: none;
  background-color: transparent;
  cursor: default;
}
.table-finder .blank:hover {
  background-color: transparent;
}

.table-finder-bottom {
  display: grid;
  grid-template-columns: repeat(18, auto);
  justify-content: left;
  margin: 0 5vw;
  column-gap: 2px;
  row-gap: 2px;
  margin-bottom: 20px;
}

.table-finder-bottom div {
  width: calc(60vw / 18);
  height: calc(60vw / 18);
  background-color: transparent;
  color: white;
  text-align: center;
  border: 1px solid white;
  position: relative;
  padding: 2px 0;
  cursor: pointer;
  user-select: none;
  transition: transform 0.3s;
  transition: all 1s;
  margin-right: 10px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-finder-bottom div:hover {
  background-color: transparent;
}

.table-finder-bottom div:hover {
  background-color: white;
  color: black;
}
.table-finder-bottom .blank {
  background-color: transparent;
  border: none;
  cursor: default;
}
.table-finder-bottom .blank:hover {
  background-color: transparent;
  border: none;
}
.table-finder div h1 {
  font-size: 100%;
  margin: auto 0;
  font-family: "rajdhani", sans-serif;
}
.table-finder-bottom div h1 {
  font-size: 100%;
  margin: auto 0;
  font-family: "rajdhani", sans-serif;
}
.finder {
  display: none;
  position: relative;
  user-select: none;
}
.finder svg {
  height: 35px;
  stroke: white;
  margin-left: 60px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 5px;
}

.finder-mid {
  position: absolute;
  margin-left: 40vw;
  display: grid;
  z-index: 10;
}
.finder-mid label {
  color: white;
  font-size: 25px;
}
.finder-mid select {
  background-color: transparent;
  color: white;
  font-size: 20px;
  border: none;
}
.finder-mid option {
  background-color: var(--background);
  color: white;
  font-size: 16px;
  padding: 3px 5px;
  text-align: center;
}

.finder-mid button {
  outline: none;
  border: 1px solid #339af0;
  background-color: #1971c2;
  padding: 3px 40px;
  color: white;
  font-size: 35px;
  margin-top: 10px;
}
.finder-start {
  display: none;
  position: absolute;
  margin-left: 40%;
  z-index: 10;
  color: white;
  font-size: 25px;
  top: 0;
}
.finder-start h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.finder-start a {
  text-align: center;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 400;
  text-align: center;
}
.finder .rules {
  color: white;
  margin-left: 150px;
  margin-bottom: 50px;
}
.finder .rules li {
  font-family: "Josefin Slab", sans-serif;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 18px;
}

.finder .rules h2 {
  font-size: 25px;
  margin-top: 100px;
  text-decoration: underline;
}

.quiz {
  width: 90%;
  margin: 0 auto;
  padding: 0 10%;
  display: none;
  user-select: none;
}
.quiz svg {
  height: 35px;
  stroke: white;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 5px;
}
.quiz div {
  display: grid;
  grid-template-columns: 25px auto;
  color: white;
  align-items: center;
  cursor: pointer;
  display: inline;
}
.quiz div input {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  margin-left: 50px;
  cursor: pointer;
  transition: all 0.5s;
}
.quiz div input:checked {
  background-color: white;
  border-color: cyan;
}
.quiz div input:hover {
  background-color: cyan;
  border-color: white;
}

.quiz h1 {
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 35px;
}
.quiz a {
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}
.quiz button {
  background-color: #4263eb;
  padding: 10px 40px;
  border: 1px solid cyan;
  color: cyan;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
  margin-left: 50%;
}
.quiz button:hover {
  background-color: cyan;
  border: 1px solid #4263eb;
  color: #4263eb;
}
.quiz h2 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.q-result {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.q-result h1 {
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
}
.q-result p {
  font-size: 20px;
  letter-spacing: 0.6px;
  text-align: center;
}
.q-result hr {
  border-top: 1px solid #868e96;
}
.q-result button {
  margin-left: 35%;
  background-color: green;
  padding: 10px 40px;
  border: 1px solid lightgreen;
  color: white;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
}
.ques {
  padding: 0 10%;
}

#show-score {
  position: absolute;
  top: 50px;
  width: 200px;
  height: 90px;
  border-radius: 4px;
  background-color: white;
  display: grid;
  grid-template-rows: 55px 30px 30px;
  justify-content: center;
  align-items: center;
  margin-left: 50vw;
  transform: translate(-50%);
  margin-top: 20px;
  animation: come 1s;
  display: none;
  z-index: 10;
}
#show-score h1 {
  font-size: 30px;
  color: #f03e3e;
}
#show-score p {
  font-size: 18px;
  color: #ff6b6b;
}
#show-score button {
  justify-self: center;
  font-size: 16px;
  color: white;
  background-color: #37b24d;
  outline: none;
  padding: 2px 2px;
  border: 1px solid #38d9a9;
  width: 70px;
}

.blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgb(1, 1, 21);
  opacity: 0.8;
  display: none;
  position: fixed;
}

.show-data {
  width: 70vw;
  height: 60vh;
  position: absolute;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
  top: 0;
  border-radius: 4px;
  color: white;
  padding: 1% 1%;
  background-color: #1f2937;
  z-index: 10;
  display: none;
  animation: come 1s;
}
.show-data h6 {
  font-size: 20px;
  font-weight: 500;
}

.show-data .below {
  display: flex;
  height: 91%;
  width: 100%;
}

.show-data .below .img {
  width: 50%;
  height: 100%;
  background-color: #17416e;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.show-data .below p {
  margin-bottom: 0;
}
.show-data .below p:first-child {
  font-weight: 400;
  font-size: 30px;
}
.show-data .below p:nth-child(2) {
  font-weight: 400;
  font-size: 60px;
}
.show-data .below p:nth-child(3) {
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 10px;
}
.show-data .below p:nth-child(4) {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
}

.show-data .below .right {
  width: 50%;
  height: 100%;
}

.show-data .below .right {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.show-data .below .right p {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin: 0 auto;
}
.show-data .below .right p span {
  color: #80ccff;
  font-size: 16px;
  margin-bottom: 7px;
}
.show-data .below .right hr {
  margin: 0;
  border: none;
  outline: none;
  border-top: 1px solid #495057;
  /* width: 90%; */
}

.show-data .below #close {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 25px;
  border: none;
  background-color: transparent;
  color: white;
  transition: color 1s, transform 1s;
  outline: none;
}
.show-data .below #close:hover {
  color: red;
  transform: scale(1.3);
}

.containo {
  overflow-y: auto;
  overflow-x: auto;
  height: calc(100vh - 280px);
  /* background-color: var(--background); */
  overflow-x: hidden;
}
.containo::-webkit-scrollbar {
  width: 8px;
}
.containo::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}
.containo h5 {
  color: white;
  text-align: center;
  font-family: "rajdhani", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.ele-s {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  border: 0.5px solid #868e96;
  margin: 0 auto;
  margin-bottom: 70px;
  border-radius: 4px;
  background-color: #212529;
  /* box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5); */
}
.ele-s .img {
  height: 400px;
  background-color: transparent;
  overflow: hidden;
}
.ele-s .img img {
  width: 100%;
}
.ele-s .info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.ele-s .info p {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  font-weight: 600;
  font-family: "rajdhani", sans-serif;
  letter-spacing: 0.8px;
  margin: 0 auto;
}
.ele-s .info p span {
  color: #80ccff;
  font-size: 16px;
  margin-bottom: 7px;
  font-family: "rajdhani", sans-serif;
}
.ele-s .info hr {
  margin: 0;
  border: none;
  outline: none;
  border-top: 1px solid #495057;
  /* width: 90%; */
}

.vid {
  display: none;
  position: absolute;
  top: 0;
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
}

.bg {
  position: absolute;
  z-index: -1;
  filter: brightness(80%);
}
